 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Geek Girls is a VIT exclusive initiative to bring the girl coders, designers and ideators together. It aims to give them a platform to collaborate and work together on new ideas, projects and hacks; bridging the gap between process and product.</p>
                </div>
                <div class="col-lg-4">
                    <p>The platform is open for all Girls in VIT to join irrespective of your course, year and experience. We appreciate and encourage learning and believe that together we can do great things.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSf0-7aIw1SQ-TLHZaT36jkr01wiScpSphf9lYZOnnqnyXTKLw/viewform?usp=sf_link"" class="btn btn-lg btn-outline">
                        <i class="fa fa-newspaper-o"></i> Fill the Form.
                    </a>
                </div>
            </div>
        </div>
    </section>
